<div class="container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #myform="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password">
    </mat-form-field>
    <mat-error *ngIf="showErrorMessage">Invalid Credentials!
    </mat-error>
    <button mat-raised-button type="submit" color="accent">Login</button>
  </form>
</div>