.container {
  width: 100%;
  height: calc(100vh - #{64px + (24px * 2)});
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}