.content {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dashboard {
  margin-top: 50px;
}